@import "colors.scss";
@import "fonts.scss";

.tarifas {
  height: 900px;
  background-color: $color1;
  margin-top: 200px;
  position: relative;
}

.tarifas__buttom {
  width: 250px;
  background-color: $color1;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 1px;
  border: 1px solid white;
  position: absolute;
  top: 100px;
  font-family: Oswald-Bold;
  font-size: 25px;
  color: white;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  left: 500px;
}

.tarifas__table__conecta {
  display: block;
  top: 250px;
  left: 200px;
  color: white;
  position: absolute;
}

.tarifas__table__beta {
  display: block;
  top: 350px;
  left: 200px;
  color: white;
  position: absolute;
}

.tarifas__table__title {
  background-color: $color3;
  font-family: Oswald-Regular;
  text-align: center;
  width: 150px;
  }

.tarifas__table__description {
  background-color: white;
  color: $color4;
  line-height: 5px;
  font-family: Raleway-Light;
  padding: 0px 25px 0px 25px;
  border-right: 20px solid $color1;
  font-size: 10px;
}

.tarifas__table__rate {
  font-family: Raleway-Bold;
  width: 100px;
  height: 70px;
  background-color: $color4;
  position: relative;
}

.tarifas__table__rate__corner_right {
  position: absolute;
  width: 0px;
  height: 0px;
  border-top: 10px solid $color1;
  border-bottom: 10px solid transparent;
  border-left: 10px solid transparent;
  border-right: 10px solid $color1;
  top: 0px;
  right: 0px;
}

.tarifas__table__rate__corner_left {
  position: absolute;
  width: 0px;
  height: 0px;
  border-top: 10px solid transparent;
  border-bottom: 10px solid $color1;
  border-left: 10px solid $color1;
  border-right: 10px solid transparent;
  bottom: 0px;
  left: 0px;
}

.tarifas__table__rate__euros {
  font-size: 35px;
  position: absolute;
  width: 65px;
  left: 20px;
  top: 5px;
}

.tarifas__table__rate__iva {
  font-size: 10px;
  width: 65px;
  height: 10px;
  top: 42.5px;
  left: 20px;
  position: absolute;
}
