@import "fonts.scss";
@import "header.scss";
@import "options.scss";
@import "colors.scss";




// bower:scss
// endbower


.hola {
  height: 200px;
  position: relative;
  margin: 50px;
}

.hola__imagen {
  width: 50%;
  height: 100%;
  position: absolute;
}

.hola__texto {
  width: 50%;
  height: 100%;
  position: absolute;
  text-align: center;
  font-size: 25px;
  left: 50%;
}

.tarifas {
  height: 900px;
  background-color: $color1;
  margin-top: 200px;
}

.equipo {
  height: 400px;
  background-color: $color2;
}

.pie {
  height: 200px;
  background-color: $color5;
}

.redes {
  height: 25px;
  background-color: $color4;
}
