// bower:scss
// endbower

.cabecera {
  position: relative;
  height: 300px;
  margin: 50px;
}

.cabecera__texto {
  width: 50%;
  height: 100%;
  position: absolute;
  text-align: center;
  font-size: 25px;
}

.cabecera__imagen {
  width: 50%;
  height: 100%;
  position: absolute;
  left: 50%;
}

.opciones {
  height: 200px;
  position: relative;
}

.opciones__azul {
  background-color: rgb(51,102,204);
  height: 100%;
  width: 40%;
  display: inline;
  position:absolute;
}

.opciones__rosa {
  background-color: rgb(247,102,102);
  height: 100%;
  width: 20%;
  display: inline;
  position: absolute;
  left: 40%;
}

.opciones__verde {
  background-color: rgb(83,206,161);
  height: 100%;
  width: 40%;
  display: inline;
  position: absolute;
  left: 60%;
}

.hola {
  height: 200px;
  position: relative;
  margin: 50px;
}

.hola__imagen {
  width: 50%;
  height: 100%;
  position: absolute;
}

.hola__texto {
  width: 50%;
  height: 100%;
  position: absolute;
  text-align: center;
  font-size: 25px;
  left: 50%;
}
