
//Partes del HTML
@import "header.scss";
@import "options.scss";
@import "hola.scss";
@import "tarifas.scss";
//Fuentes
@import "fonts.scss";
//Colores
@import "colors.scss";




// bower:scss
// endbower



.equipo {
  height: 400px;
  background-color: $color2;
}

.pie {
  height: 200px;
  background-color: $color5;
}

.redes {
  height: 25px;
  background-color: $color4;
}
